*{
border-radius: 8px;
font-family: 'Raleway';
}
body {
  font-family: 'Varela Round';
  padding: 2em;
  background-color: gray;
}
#info{
  position: absolute;
  font-size:80%;
  top:240px;
  left:160px;
}
h1 {
  font-size: 2.5em;
  min-width:10 em;
  font-family: 'Varela Round';
}
#info{
font-size
}
#z{
position:fixed;
top:10px;
left:10px;
width: 100%;
height:25px;
background-color: #000000;
border-style: solid;

}
.skillset {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skill-html {
  background-color: #E55126;
}

.skill-js {
  background-color: #E5A227;
}
#myCanvas{
z-index:-1;
}
.skill-jquery {
  background-color: #0C73B8;
}

.skill-html,
.skill-js,
.skill-jquery {
  width: 100%;
  padding: 1em 3em 2em 2em;
  margin: 0.5em;
  color: whitesmoke;
}

.projects-button {
  padding: 0.75em 1.25em;
  background-color: whitesmoke;
  opacity: 0.9;
  width: 10em;
  color: black;
}
#rectangle1{
  background-color: #ffffff;
  width:100px;
  height:20px;
  visibility: visible;
  min-width:80px;
  max-width: 100px;
  position: absolute;
  top: 200px;
  
}
#rectangle2{
  background-color: #ffffff;
  width:100px;
  height:20px;
  visibility: visible;
  position: absolute;
  top:250px;
  
  
}
#rectangle3{
  background-color: #ffffff;
  width:100px;
  height:20px;
  visibility: visible;
  position: absolute;
  top: 300px;
}
#rectangle4{
  background-color: #ffffff;
  width:100px;
  height:20px;
  visibility: visible;
  position: absolute;
  top: 350px;
}
#rectangle5{
  background-color: #ffffff;
  width:100px;
  height:20px;
  visibility: visible;
  position: absolute;
  top: 400px;
}
#mode{
  position: absolute;
  top:60px;
}
#tut{
  position: absolute;
  top:80px;
}
#dir{
  position: absolute;
  top:100px;
}
#myCanvas{
  position: absolute;
  top: 200px;
  left: 270px;
  z-index: -1;
  left: 350px;
  border-radius: 200px;
}
#change{
  visibility: hidden;
}
#mom{
position:absolute;
left: 100px;
font-family: 'Raleway';
background-color:#f0eaf2;

}
#set{
position:absolute;
left: 400px;
font-family: 'Raleway';
background-color:#bebbbf;

}
#ana{
position:absolute;
left: 280px;
font-family: 'Raleway';
background-color:#dcd7dd;

}
#free{
position:absolute;
left: 220px;
font-family: 'Raleway';
background-color:#ccc4ce;

}
button{
  border-radius:3px;
  font-family: 'Georgia';
  
}
ul {
  list-style: none;
  padding: 0;
}
#p{
position:absolute;
top: 1500px;
height:100px;
width:100px;
}
.projects {
  margin: 1em 0;
}
.hidden {
  width: 1px;
  height: 1px;
  opacity: 0;
}
.active {
  background-color: #333333;
  color: whitesmoke;
}
#bird{
z-index: 5;
position:absolute;
top:0;
left:0;
height:100%;
width:100%;

}
